<!doctype html>
<html>
  <head>
<title>Spyfall Online</title>
</head>
<body>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href="/static/center.css" rel="stylesheet"/>
<div class="page">
  <h1>Spyfall Online</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
    {% block body %}{% endblock %}

    <a href="http://www.brunothalmann.com/" target="_blank">Copyright Bruno Thalmann 2016. All Rights Reserved.</a>
</div>
</body>
</html>
